<!--<script type="text/javascript">-->
<!--    $.ajax({-->
<!--        dataType:"json",-->
<!--        type:"get",-->
<!--        data:{-->
<!--        },-->
<!--        contentType:"application/json;charset=utf-8",-->
<!--        success:function(resule){-->
<!--            var jsonobj= eval(resule);-->
<!--            var test = JSON.stringify(jsonobj)//将json对象转化成字符串-->
<!--            if (test !== "[]") {-->
<!--                alert(test);-->
<!--            }-->
<!--        },-->
<!--        error:function(){-->
<!--            alert("Error");-->
<!--        }-->
<!--    });-->
<!--</script>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
<!--    <script src="../mystatic/js/login_out.js"></script>-->
</head>
<body>
<div class="personal_nav" th:fragment="personal_nav">
    <ul>
        <li><a href="personal_info.do">个人信息</a></li>
        <li><a href="/publish_product.do">发布商品</a></li>
        <li><a href="/require_product.do">发布求购信息</a></li>
        <li><a href="/shopping_cart.do">我的购物车</a></li>
        <li><a href="/my_publish_product_page.do">我发布的商品</a></li>
        <li><a href="/my_require_product_page.do">我求购的商品</a></li>
        <li><a class="login_out" href="/logout.do">退出</a></li>
    </ul>
</div>
</body>